


## Folders
logs/*

## Files
*.pyc
http.log
parameters_*
httpserver.log
comandos_git.sh
smb4config.ini
.directory

applications/dashboard/errors/*
applications/dashboard/sessions/*
applications/admin/sessions/*



