{% extends "layout.html" %}

{% block script %}
<script type="text/javascript">
	$(document).ready(function() {
	$('#users_add').ajaxForm({ beforeSubmit:showRequest, success:showResponse, dataType:'json', clearForm:true, resetForm:true });

function showRequest(formData, jqForm, options) {
            $.blockUI({message: $('.loading'), css: { top: '10px', left: '', right: '10px' }});
           $("#users_add :submit").prop("disabled", true);
           return true;
}

function showResponse(responseText, statusText, xhr, $form) {
         $.unblockUI();
         bootbox.alert(responseText.data[0]['MESSAGE'], function(){ window.location=responseText.data[0]['REDIRECT'];} );
}

});

// YUI
YUI().use('tabview', function(Y) {
    var tabview = new Y.TabView({ srcNode: '#tabs' });
    tabview.render();
    tabview.selectChild(0);
});

</script>
{% endblock %}



       {% block menu %}
       <div class="sidebar-nav">
       <form class="search form-inline"><input type="text" placeholder="Search..."></form>

        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Directory Users</a>


        <a href="#accounts-users" class="nav-header collapsed" data-toggle="collapse"><i class="icon-legal"></i>{{utils[0]['domain']}}<i class="icon-chevron-up"></i></a>
        <ul id="accounts-users" class="nav nav-list collapse in">
            <li class="active"><a href="/users/">Users</a></li>
            <li ><a href="#">Groups</a></li>
        </ul>

        <a href="#accounts-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-legal"></i>SMB4 Config<i class="icon-chevron-up"></i></a>
        <ul id="accounts-menu" class="nav nav-list collapse">
            <li ><a href="#">Users</a></li>
            <li ><a href="#">Groups</a></li>
            <li ><a href="#">Members</a></li>
        </ul>

    </div>
   {% endblock %}

   
{% block content %}
   <div class="content">
        
        <div class="header"><h1 class="page-title">New Object - User</h1></div>
        
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="/users/">Users</a> <span class="divider">/</span></li>
            <li class="active">New User</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
<div class="well">

<!--BEGIN TAB CODE =============================== -->
<div id="tabs">
    <ul>
        <li><a href="#tab1"><em>Create in: {{utils[0]['domain']}}/Users</em></a></li>
    </ul>
<div id="tab1">
  <div>
    <form id="users_add" action="/users/add/" method="post">
        <label>Username:</label>
        <input name="username" type="text" class="span4 input-xlarge" required="true">

        <label>Full Name:</label>
        <input name="fullname" type="text" class="span4 input-xlarge" required="true">

        <label>Password:</label>
        <input name="password" type="password" class="span4 input-xlarge" pattern=".{7,}" title="Minmimum 7, letters and numbers." required="true">

        <label>Email:</label>
        <input name="email" type="email" class="span4 input-xlarge" required="true">

        <label>Description:</label>
        <textarea class="field span4" rows="2" name="description" required="true"></textarea>
        <input name="domain" type="hidden" value="@{{utils[0]['domain']}}">
       <div><button type="submit" name="submit" value="users_add" class="yui3-button yui3-button-notice"><i class="icon-save"></i> Save</button></div>
    </form>
  </div>
</div>

<!--END TAB CODE =============================== -->

</div>
</div>
</div>
</div>
{% endblock %}

