
{% extends "layout.html" %}


{% block script %}
<script type="text/javascript">
      $(document).ready(function() {
        $('#change_user').ajaxForm({ beforeSubmit:showRequest, success:showResponse, dataType:'json' });
	$('#change_pass').ajaxForm({ beforeSubmit:showRequest, success:showResponse, dataType:'json', clearForm:true, resetForm:true });

	function showRequest(formData, jqForm, options) {
           $.blockUI({ message: $('.loading'), css: {top:'10px', left:'', right:'10px'} });
           $("#change_pass :submit").prop("disabled", true);
           return true;
	}

	function showResponse(responseText, statusText, xhr, $form) {
          $.unblockUI();
          //bootbox.alert(responseText.message, function(){ window.location="/users/";} );
          if (responseText.data[0]['ERROR']) {
              bootbox.alert(responseText.data[0]['MESSAGE']);
              $("#change_pass :submit").prop("disabled", false);
              return true;
	  }
          bootbox.alert(responseText.data[0]['MESSAGE'], function(){ window.location=responseText.data[0]['REDIRECT'];} );
	}

     // Tabs
     $('#tabs').tabs();

// Delete user
$("#delete_user").on("click",function(e){
      e.preventDefault();
      var username = $(this).attr('value');
      var button   = $(this);
      bootbox.confirm("Do you want to delete?", function(result) {
               if (result) {
                   $.blockUI({message: $('.loading'), css: { top: '10px', left: '', right: '10px' }}); button.addClass("disabled");
                   $.getJSON($SCRIPT_ROOT + '/users/del/' + username, { user: username }, function(responseText) {
                          $.unblockUI();
                          bootbox.alert(responseText.message, function() { window.location="/users/"; });
                 });
                }
               });
 });


   });
</script>
{% endblock %}
   

	{% block menu %}
       <div class="sidebar-nav">
       <form class="search form-inline"><input type="text" placeholder="Search..."></form>

        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Directory Users</a>


        <a href="#accounts-users" class="nav-header collapsed" data-toggle="collapse"><i class="icon-legal"></i>{{utils[0]['domain']}}<i class="icon-chevron-up"></i></a>
        <ul id="accounts-users" class="nav nav-list collapse in">
            <li class="active"><a href="/users/">Users</a></li>
            <li ><a href="#">Groups</a></li>
        </ul>

        <a href="#accounts-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-legal"></i>SMB4 Config<i class="icon-chevron-up"></i></a>
        <ul id="accounts-menu" class="nav nav-list collapse">
            <li ><a href="#">Users</a></li>
            <li ><a href="#">Groups</a></li>
            <li ><a href="#">Members</a></li>
        </ul>

    </div>
   {% endblock %}

   
{% block content %}
   <div class="content">
        <div class="header"><h1 class="page-title">Edit User</h1></div>
        
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="/users/">Users</a> <span class="divider">/</span></li>
            <li class="active">User</li>
        </ul>

 <div class="container-fluid">
    <div class="row-fluid">

     <div class="well">

 <div id="tabs">
	<ul><li><a href="#tabs-1">Profile</a></li><li><a href="#tabs-2">Password</a></li></ul>
	<div id="tabs-1">
    <form id="change_user" action="/users/edit/{{user.rid}}" method="post">
        <label>Username:</label>
        <input type="text" value="{{user.username}}" disabled="disabled" class="span4 input-xlarge">
        <label>Full Name:</label>
        <input name="fullname" type="text" value="{{user.fullname}}" class="span4 input-xlarge" required="true">
        <label>Email:</label>
        <input name="email" type="text" value="{{user.username}}" class="span4 input-xlarge" required="true">@{{utils[0]['domain']}}
	<label>Description:</label>
        <textarea class="field span4" rows="3" name="description" required="true">{{user.description}}</textarea>
        <input name="domain" type="hidden" value="{{utils[0]['domain']}}">
        <input name="rid" type="hidden" value="{{user.rid}}">
        <input name="username" type="hidden" value="{{user.username}}">
       <div>
            <button type="submit" name="submit" value="change_user" class="btn btn-primary"><i class="icon-save"></i> Save</button>
            <button id='delete_user' value="{{user.username}}" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    </form>
</div>

<div id="tabs-2">
    <form id="change_pass" action="/users/edit/{{user.rid}}" method="post">
        <label>New Password</label>
        <input name="password" type="password" class="input-xlarge" pattern=".{7,}" title="Minmimum 7, letters and numbers." required="true">
        <input name="username" type="hidden" value="{{user.username}}">
        <div>
            <button type="submit" name="submit" value="change_pass" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
</div>
			
</div>
</div>
</div>

{% endblock %}
