



.yui3-button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.yui3-button-warning{
    background-color:#FAF55F;
}

.yui3-button-success{
    background-color:#57A957;
    color:white;
}

.yui3-button-error{
    background-color:#C43C35;
    color:white;
}

.yui3-button-notice{
    background-color:#1B7AE0;
    color:white;
}
