


{{extend 'layout.html'}}

{{block js_script}}
    <script type="text/javascript">  
        $(document).ready(function() { 
            $('#myForm').ajaxForm({
                success: function(responseText){ alert(responseText); }, 
                clearForm: true,
                resetForm: true,
            });     
        });
    </script>
{{end}}

<div class="header">
            
            <h1 class="page-title">Add User</h1>
        </div>
        
        <ul class="breadcrumb">
            <li><a href="{{=URL('default','index')}}">Home</a> <span class="divider">/</span></li>
            <li><a href="{{=URL('users', 'index')}}">Users</a> <span class="divider">/</span></li>
            <li class="active">Add</li>
        </ul>
<div id="output1"></div>

        <div class="container-fluid">
   <div class="row-fluid">
    <div class="dialog">
        <div class="block">
            <p class="block-heading">Add New User</p>
            <div class="block-body">
                <form id="myForm" action="" enctype="multipart/form-data" method="post">
                    <label>First Name</label>
                    <input type="text" name="givenName" required="true" class="span12">
                    <label>Last Name</label>
                    <input type="text" name="surname" required="true" class="span12">
                    <label>Email Address</label>
                    <input type="email" name="mail" required="true" class="span12">
                    <label>Username</label>
                    <input type="text" name="sAMAccountName" required="true" class="span12">
                    <label>Password</label>
                    <input type="password" pattern=".{7,}" name="userPassword" required="true" class="span12">
                    <input class="btn btn-primary pull-right" type="submit" value="Add User" />
                    <input value="783531473471" type="hidden" name="_formkey" />
		    <input value="adduser" type="hidden" name="_formname" />
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

