<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SMB4Manager New DashBoard</title>
        <link rel="stylesheet" href="{{url_for('static', filename='easyui/themes/black/easyui.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='easyui/themes/icon.css')}}">
        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='easyui/jquery.easyui.min.js')}}"></script>

<script type="text/javascript">
$(document).ready(function() {
var teste = "teste";

});
</script>


</head>
<body class="easyui-layout">
	<div data-options="region:'north',border:false" style="height:55px;padding:2px"><h2>SMB4Manager<h2></div>
	<div data-options="region:'west',split:true,title:'Menu'" style="width:220px;padding:10px;">Menu
    <ul class="easyui-tree">  
           <li>  
               <span>SMB4Manager</span>  
               <ul>  
                   <li>  
                       <span>Users</span>  
                       <ul>  
                           <li><span>User 1</span></li>  
                           <li><span>User 2</span></li>  
                           <li><span>User 3</span></li>  
                       </ul>  
                   </li>  

		      <li>  
                       <span>Groups</span>  
                       <ul>  
                           <li><span>Group 1</span></li>  
                           <li><span>Group 2</span></li>  
                           <li><span>Group 3</span></li>  
                       </ul>  
                   </li>  

               </ul>  
           </li>  
       </ul>  

	</div>
	<div data-options="region:'center',title:'Center'">
    		<div id="tt" class="easyui-tabs" >  
        		<div title="Model Add User" style="padding:20px;">  
        <div style="margin:10px 0;">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#w').window('open')">Open</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#w').window('close')">Close</a>
        </div>
           <div id="w" class="easyui-window" title="Modal Window" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:500px;height:200px;padding:10px;">The window content.</div>
    	</div>  

	<div title="List Users"  style="overflow:auto;padding:10px;">  
         <table class="easyui-datagrid" title="Basic DataGrid" style="height:300px" data-options="singleSelect:true,collapsible:true,url:'/data.json'">
<thead>
<tr>
<th data-options="field:'itemid',width:80">Item ID</th>
<th data-options="field:'productid',width:100">Product</th>
<th data-options="field:'listprice',width:80,align:'right'">List Price</th>
<th data-options="field:'unitcost',width:80,align:'right'">Unit Cost</th>
<th data-options="field:'attr1',width:250">Attribute</th>
<th data-options="field:'status',width:60,align:'center'">Status</th>
</tr>
</thead>
</table>
	</div>  
        		<div title="Tab3" data-options="iconCls:'icon-reload',closable:true" style="padding:20px;display:none;">  
            			tab3  
        		</div>  
    		</div>  


       </div>
</body>
</html>
