  

{% block head %}
    <!-- include head02 -->

    <link rel="stylesheet" href="{{url_for('static', filename='skin1/lib/bootstrap/css/bootstrap.css')}}">
    
    <link rel="stylesheet" href="{{url_for('static', filename='skin1/stylesheets/theme.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='skin1/lib/font-awesome/css/font-awesome.css')}}">
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='skin1/lib/bootstrap/js/bootstrap.js')}}"></script>

    <script src="{{url_for('static', filename='js/jquery.form.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootbox.min.js')}}"></script>

{% endblock %}