<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="utf-8">
    <!-- include head -->
    <title>SMB4Manager</title>
    <!-- no cache headers -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web Flask App Manager Samba4">
    <meta name="author" content="Nilton OS">
    <!-- end no cache headers -->

    <link rel="stylesheet" href="{{url_for('static', filename='skin/lib/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='skin/styles/theme.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='skin/lib/awesome/css/font-awesome.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='easyui/themes/black/easyui.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='easyui/themes/icon.css')}}">

    
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.blockUI.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootbox.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.form.js')}}"></script>
    <script src="{{url_for('static', filename='skin/lib/bootstrap/js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='easyui/jquery.easyui.min.js')}}"></script>

    <!-- YUI3 -->
    <link rel="stylesheet" href="{{url_for('static', filename='yui/css/yui-skin.css')}}">
    <script src="{{url_for('static', filename='yui/build/yui/yui-min.js')}}"></script>
    <!-- YUI3 -->

    <script type=text/javascript> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{url_for('static', filename='js/html5.js')}}"></script>
    <![endif]-->

   {% block script %}{% endblock %}

  </head>
  <!-- end include head -->
  {% endblock %}

<body class="yui3-skin-mine">

{% block menu_cima %}
    <div class="navbar">
        <a class="brand" href="/"><span class="second">SMB4Manager</span></a>
        <ul class="nav"><li><a><div class='hide loading'><i class='icon-refresh icon-spin icon-large'></i> Loading...</div></a></li></ul>

        <div class="throb" id="t1"></div>
        <div class="navbar-inner">
                <ul class="nav pull-right">

                    <li id="fat-menu" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> {{utils[0]['login_user']}} <i class="icon-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="/users/edit/{{session['smb4'][0]['rid']}}">My Account</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" class="visible-phone" href="#">Settings</a></li>
                            <li class="divider visible-phone"></li>
                            <li><a tabindex="-1" href="{{url_for('default.logout')}}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
    </div>
{% endblock %}

{% block menu %}{% endblock %}
{% block content %}{% endblock %}

{% block footer %}
<div class="container-fluid">
<div class="row-fluid">
                    <footer>
                        <hr>
                        <p class="pull-right">Design by <a href="http://www.linuxpro.com.br" target="_blank">Nilton OS</a></p>
                        <p>&copy; 2013 <a href="http://www.linuxpro.com.br" target="_blank">SMB4Manager</a></p>
                    </footer>
</div>
</div>
{% endblock %}

  </body>
</html>
