
{% extends "base.html" %}

{% block content %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body class=""> 
  <!--<![endif]-->
      
    <div class="navbar">
        <div class="navbar-inner">
                <ul class="nav pull-right">
                    
                </ul>
                <a class="brand" href="#"><span class="second">SMB4Manager</span></a>
        </div>
    </div>

   
		
<div id="content">

<div class="row-fluid">
    <div class="dialog" style="margin-top: 4.5em;">
        <div class="block">
            <p class="block-heading">Login SMB4Manager</p>
            <div class="block-body">
                <form action="" enctype="multipart/form-data" method="post">
                    <label>Username</label>
                    <input type="text" name="username" required="true" class="span12">
                    <label>Password</label>
                    <input type="password" name="password" required="true" class="span12">
                    <input class="btn btn-primary pull-right" type="submit" value="Login" />
                    <div class="clearfix"></div>
                     <div class="hidden"><input name="_next" type="hidden" value="/" /><input name="_formkey" type="hidden" value="e5750129-8ac4-48ec-a388-f4f499cd57cf" /><input name="_formname" type="hidden" value="login" /></div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

    
  </body>
</html>


{% endblock %}
