
{% extends "base.html" %}


    {% block script %}
    <script type="text/javascript">  
        $("a.btn-danger").live("click",function(event){
                return confirm("Do you want to delete?");
        });

    </script>
    {% endblock %}
   

	{% block menu %}
       <div class="sidebar-nav">
       <form class="search form-inline"><input type="text" placeholder="Search..."></form>

        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Directory Users</a>


        <a href="#accounts-users" class="nav-header collapsed" data-toggle="collapse"><i class="icon-legal"></i>{{utils[0]['domain']}}<i class="icon-chevron-up"></i></a>
        <ul id="accounts-users" class="nav nav-list collapse in">
            <li class="active"><a href="/users/">Users</a></li>
            <li ><a href="#">Groups</a></li>
        </ul>

        <a href="#accounts-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-legal"></i>SMB4 Config<i class="icon-chevron-up"></i></a>
        <ul id="accounts-menu" class="nav nav-list collapse">
            <li ><a href="#">Users</a></li>
            <li ><a href="#">Groups</a></li>
            <li ><a href="#">Members</a></li>
        </ul>

    </div>
   {% endblock %}

   
{% block content %}
   <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">Edit User</h1>
        </div>
        
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="/users/">Users</a> <span class="divider">/</span></li>
            <li class="active">User</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    
<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
      <li><a href="#profile" data-toggle="tab">Password</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
    <form id="tab">
        <label>Username</label>
        <input type="text" value="jsmith" disabled="disabled" class="span5 input-xlarge">
        <label>First Name</label>
        <input type="text" value="John" class="span5 input-xlarge">
        <label>Last Name</label>
        <input type="text" value="Smith" class="span5 input-xlarge">
        <label>Email</label>
        <input type="text" value="jsmith@yourcompany.com" class="span5 input-xlarge">
    </form>

<div class="btn-toolbar">
    <button class="btn btn-primary"><i class="icon-save"></i> Save</button>
    <a href="#myModal" data-toggle="modal" class="btn">Delete</a>
  <div class="btn-group">
  </div>
</div>

      </div>
      <div class="tab-pane fade" id="profile">
    <form id="tab2">
        <label>New Password</label>
        <input type="password" class="input-xlarge">
        <div>
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
      </div>
  </div>

</div>

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Confirmation</h3>
  </div>
  <div class="modal-body">
    
    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
  </div>
</div>

{% endblock %}
